<app-post></app-post>
<!-- <app-new-course-form></app-new-course-form> -->
<!-- <signup-form></signup-form> -->


<!-- <bootstrap-panel> 
  <ng-container class="heading"><h1>Title</h1></ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>some cntent</p>
  </div>
</bootstrap-panel>

<div class="container">
  <div class="jumbotron">
      <h1>Welcome</h1>
      <h2>Angular Bootstrap Demo</h2>
  </div>
  <div class="panel panel-primary">
      <div class="panel-heading">Panel with panel-primary class</div>
      <div class="panel-body">Panel Content</div>
  </div>
</div>


<br />
<span
class="glyphicon"
[class.glyphicon-star]="true"
[class.glyphicon-star-empty]="false"
></span> -->

<!-- <favorite [isFavorite]="post.isFavorite"  (change)="onInputChange($event)" ></favorite> -->